In [1]:
import pandas as pd

In [6]:
from pandas import Series , DataFrame

In [7]:
obj = pd.Series([4, 7, -5, 3])

In [8]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [14]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [16]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2['a']

-5

In [18]:
obj2['d'] = 6

In [19]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [21]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [22]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [23]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [24]:
import numpy as np

In [25]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [26]:
'b' in obj2

True

In [27]:
'e' in obj2

False

In [78]:
 sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000 , "Pakistan":1000 }

In [79]:
obj3 = pd.Series(sdata)

In [80]:
obj3

Ohio        35000
Texas       71000
Oregon      16000
Utah         5000
Pakistan     1000
dtype: int64

In [81]:
states = ['California', 'Ohio', 'Oregon', 'Texas'  , "Utah"]

In [82]:
obj4 = pd.Series(sdata, index=states)

In [83]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Utah           5000.0
dtype: float64

In [84]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
Utah          False
dtype: bool

In [85]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
Utah           True
dtype: bool

In [86]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
Utah          False
dtype: bool

In [87]:
obj3

Ohio        35000
Texas       71000
Oregon      16000
Utah         5000
Pakistan     1000
dtype: int64

In [88]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Utah           5000.0
dtype: float64

In [89]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Pakistan           NaN
Texas         142000.0
Utah           10000.0
dtype: float64

In [90]:
obj4.name = 'population'

In [95]:
obj4.index.name = 'state'
#obj4.values.name = "

In [96]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Utah           5000.0
Name: population, dtype: float64